@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/


html {
  scroll-behavior: smooth;
}

*{
    font-family: "DM Sans", sans-serif;
}

.logo{
    font-family: "Forum", serif;
}
.heading {
    font-family: "DM Sans", sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
